@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    @apply w-[90%] mx-auto overflow-hidden max-w-screen-xl;
  }

  .bg-gradient-radial {
    background: radial-gradient(145.19% 74.62% at 56.02% 43.56%, rgba(234, 0, 41, 0.64) 0%, rgba(24, 24, 24, 0.64) 100%);
  }

  .bg-hero-master {
    background-image: url('@/assets/img/bg-hero-master.webp');
    background-size: cover;
    background-position: center;
  }

  .bg-hero-master-movil {
    background-image: url('@/assets/img/bg-hero-master.webp');
    background-size: cover;
    background-position: right;
  }

  .bg-hero {
    background-image: url('@/assets/img/bg-hero.webp');
    background-size: cover;
    background-position: center;
  }

  .bg-temario {
    background-color: #3a3a82;
    background-image: url('@/assets/img/bg-temario.webp');
    background-size: cover;
    background-position: center;
  }

  .titulo-seccion {
    @apply text-sm font-normal font-nexa uppercase tracking-[0.56px];
  }

  /* letter-spacing: 0.098rem; */
  .titulo {
    @apply font-nexa-bold text-3xl md:text-[3.196rem] md:leading-[3.595rem] pt-4 mb-4;
  }
}

/* @font-face {
  font-family: 'lemon-normal';
  src: url('@/assets/font/Lemon/lemon-milk-pro-regular.eot');
  src: url('@/assets/font/Lemon/lemon-milk-pro-regular.eot?#iefix') format('embedded-opentype'), url('@/assets/font/Lemon/lemon-milk-pro-regular.woff2') format('woff2'), url('@/assets/font/Lemon/lemon-milk-pro-regular.woff') format('woff'),
    url('@/assets/font/Lemon/lemon-milk-pro-regular.ttf') format('truetype');
  font-display: swap;
} */

.nunito-sans {
  font-family: 'Nunito Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: 'wdth' 100, 'YTLC' 500;
}

.nunito-sans-bold {
  font-family: 'Nunito Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings: 'wdth' 900, 'YTLC' 500;
}

@font-face {
  font-family: 'nexa';
  src: url('@/assets/font/Nexa/nexa-extralight-webfont.woff2') format('woff2'), url('@/assets/font/Nexa/nexa-extralight-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'nexa-bold';
  src: url('@/assets/font/Nexa/nexa-heavy-webfont.woff2') format('woff2'), url('@/assets/font/Nexa/nexa-heavy-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'nexa', sans-serif;
}

.texto-con-bordes,
.texto-con-bordes-red {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #fff;
}

.texto-con-bordes-red {
  -webkit-text-stroke-color: rgb(204, 0, 50);
}

.hero-text {
  @apply text-white leading-[normal];
  text-shadow: 0px 0px 16px rgba(255, 255, 255, 0.32);
}
